<div class="container p-5">
  <i class="bi bi-x-square" (click)="closeModal()"></i>
  
  <form (keydown.enter)="$event.preventDefault()" (ngSubmit)="formSubmit($event)">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <div class="mb-3 profile-image" style="position:relative;">
          <h4>Profile Image</h4><br>
          <ng-container *ngFor="let image of images; let i=index;">
            <img *ngIf="image?.alias=='profile'" class="mb-2" width="95%"  src="{{apiUrl + '/' + image?.path}}" alt="">
            <i (click)="deleteImage(i)" class="bi bi-x-circle-fill" style="position: absolute; top: 5px; right: 20px;cursor:pointer;color:black;font-weight:bold;"></i>
            <span *ngIf="image?.alias=='profile'">{{image?.name}}</span>
          </ng-container>
          <ng-container *ngIf="checkedProfile">
            <app-fileupload [data]="{extentions: 'xlsx', profile:true}" [multiple]="false" (output)="updateImages($event)"></app-fileupload>
          </ng-container>
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input type="text" [(ngModel)]="model.name" name="name" class="form-control" id="name">
          <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
        </div>
        <div class="mb-3">
          <label for="category" class="form-label">Category</label>
          <input type="text" [(ngModel)]="model.category" name="category" class="form-control" id="category">
        </div>
        <div class="mb-3">
          <label for="price" class="form-label">Price</label>
          <input type="text" [(ngModel)]="model.price" name="price" class="form-control" id="price">
        </div>
    
        <div class="mb-3">
          <label for="stock" class="form-label">Stock</label>
          <input type="text" [(ngModel)]="model.stock" name="stock" class="form-control" id="stock">
        </div>
      </div>
    </div>
        
    <div class="mb-3">
      <label for="tags" class="form-label">Tags</label>
      <input type="text" placeholder="Enter tags" [(ngModel)]="newTag" (keydown.enter)="addTag($event)" name="newTag" class="form-control" id="tags">
      <div class="d-flex flex-wrap mt-3">
        <ng-container *ngIf="tags">
          <span style="cursor:pointer;" (click)="removeTag(tag)" *ngFor="let tag of tags" class="badge bg-primary me-2 mb-2 p-2">
            {{ tag }}
          </span>
        </ng-container>
      </div>
    </div>

    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <textarea type="text" [(ngModel)]="model.description" name="description" class="form-control" id="description">
      </textarea>
    </div>

    <div class="mb-3">
      <!-- <ng-container *ngFor="let image of images">
        <img class="mb-2" width="95%" src="{{apiUrl + '/' + image.path}}" alt="">
      </ng-container> -->
      <ng-container>
        <app-fileupload [data]="{extentions: 'xlsx', profile:false}" [multiple]="true" (output)="updateImages($event)"></app-fileupload>
      </ng-container>
      <div class="row">
        <ng-container *ngFor="let image of images; let i=index;">
          <div class="col-md-6 col-sm-12 mb-3 mt-3" *ngIf="image.alias == 'other'" style="position: relative;">
            <img class="product-images" width="100%" src="{{apiUrl + '/' + image.path}}" alt="">
            <i (click)="deleteImage(i)" class="bi bi-x-circle-fill" style="position: absolute; top: 5px; right: 20px;cursor:pointer;color:black;font-weight:bold;"></i>
          </div>
        </ng-container>
      </div>
      
    </div>

    <div class="mb-3 form-buttons">
      <button type="submit" class="btn btn-primary">Submit</button>
      <button type="button" (click)="closeModal()" class="btn btn-danger">Cancel</button>
    </div>
  </form>
</div>