<div class="container p-5">
    <i class="bi bi-x-square" (click)="closeModal()"></i>
    <form (ngSubmit)="formSubmit($event)">
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" [(ngModel)]="model.name" name="name" class="form-control" id="name">
            <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" name="email" [(ngModel)]="model.email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
          </div>
        <div class="mb-3">
            <label for="mobile" class="form-label">Mobile</label>
            <input type="number" [(ngModel)]="model.mobile" name="number" class="form-control" id="mobile">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" [(ngModel)]="model.password" name="password" class="form-control" id="password">
        </div>
        <div class="mb-3">
            <label for="role" class="form-label">Role</label>
            <select [(ngModel)]="model.role" name="role" class="form-select" id="role">
              <option *ngFor="let role of roles; let i=index;" [value]="role._id">{{role.name}}</option>
            </select>
        </div>

        <div class="mb-3">
            <h4>Address:</h4>
        </div>

        <ng-container *ngFor="let address of addresses; let i=index;">
            <div class="mb-3">
                <label for="customerName" class="form-label">Deliver To <span class="required">*</span></label>
                <input required type="text" [(ngModel)]="address.customerName" name="customerName" class="form-control" id="customerName">
            </div>
            <div class="mb-3">
                <label for="contactNo" class="form-label">Contact No <span class="required">*</span></label>
                <input required type="text" [(ngModel)]="address.contactNo" name="contactNo" class="form-control" id="contactNo">
            </div>
            <div class="mb-3">
                <label for="line1" class="form-label">Address Line 1 <span class="required">*</span></label>
                <input required type="text" [(ngModel)]="address.line1" name="line1" class="form-control" id="line1">
            </div>
            <div class="mb-3">
                <label for="line2" class="form-label">Address Line 2</label>
                <input type="text" [(ngModel)]="address.line2" name="line2" class="form-control" id="line2">
            </div>
            <div class="mb-3">
                <label for="locality" class="form-label">Locality <span class="required">*</span></label>
                <input required type="text" [(ngModel)]="address.locality" name="locality" class="form-control" id="locality">
            </div>
            <div class="mb-3">
                <label for="city" class="form-label">City <span class="required">*</span></label>
                <input required type="text" [(ngModel)]="address.city" name="city" class="form-control" id="city">
            </div>
            <div class="mb-3">
                <label for="state" class="form-label">State <span class="required">*</span></label>
                <input required type="text" [(ngModel)]="address.state" name="state" class="form-control" id="state">
            </div>
            <div class="mb-3">
                <label for="country" class="form-label">Country</label>
                <input  type="text" [(ngModel)]="address.country" name="country" class="form-control" id="country">
            </div>
            <div class="mb-3">
                <label for="pincode" class="form-label">Pincode <span class="required">*</span></label>
                <input required type="text" [(ngModel)]="address.pincode" name="pincode" class="form-control" id="pincode">
            </div>
            <div class="mb-3">
                <label for="label" class="form-label">Label</label>
                <input type="text" [(ngModel)]="address.label" name="label" class="form-control" id="label">
            </div>
            <div class="form-check mb-3">
                <input class="form-check-input" [(ngModel)]="address.isDefault" name="isDefault" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Default
                </label>
            </div>
        </ng-container>
        

        <div class="mb-3 form-buttons">
            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="button" (click)="closeModal()" class="btn btn-danger">Cancel</button>
        </div>
    </form>
</div>