<main id="main" class="main">

    <div class="pagetitle">
        <h1>Roles</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/dashobard">Home</a></li>
                <li class="breadcrumb-item">Roles</li>
            </ol>
        </nav>
    </div>

    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <ngx-datatable class="bootstrap" [columnMode]="'force'" [externalPaging]="true" [count]="page.count"
                        [offset]="page.offset" [limit]="page.limit" [rows]="list" (page)="pageCallback($event)"
                        [scrollbarH]="true" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'">

                        <ngx-datatable-column name="Idseq">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                <span>{{row?.idseq}}</span>
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column name="Name">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                <span>{{row?.name}}</span>
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column name="Alias">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                <span>{{row?.alias}}</span>
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column name="CreatedAt">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                <span>{{row?.createdAt  | date:'dd-MM-yyyy'}}</span>
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column name="Permissions">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                <div class="permission">
                                    <span *ngFor="let permission of row.permissions" class="badge bg-primary">{{permission.name}}</span>
                                </div>
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column name="Actions">
                            <ng-template let-row="row" ngx-datatable-cell-template let-rowIndex="rowIndex">
                                <button (click)="openModal(rowIndex)" class="btn btn-primary"><i class="bi bi-pencil-square"></i></button>
                            </ng-template>
                        </ngx-datatable-column>

                    </ngx-datatable>
                </div>

            </div>
        </div>
    </section>

</main>